
@import "~bootstrap/scss/bootstrap";

@mixin reset {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

$backgroundColor: rgba(15, 110, 110, 0.815);
$textColor: lighten($color: $backgroundColor, $amount: 99%);

body {
  @include reset();

  background-color: $backgroundColor;
  color: $textColor;

  width: 100vw;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  border: 3px solid black;
}
